local blur = Material("pp/blurscreen")
local scrw = ScrW()
local scrh = ScrH()

local startTime = 0
local lifeTime = .25
local startVal = 0
local endVal = 140
local value = startVal

local startedOpenAnim = false
local startedCloseAnim = false

speak.backgroundOnScreenSizeChanged = function(_, _, _)
  scrw = ScrW()
  scrh = ScrH()
end

speak.backgroundPaint = function(panel, w, h)
  if panel:IsOpen() and not startedOpenAnim then
    startedCloseAnim = false
    startedOpenAnim = true
    startVal = 0
    endVal = 140
    startTime = CurTime()
  elseif not panel:IsOpen() and not startedCloseAnim then
    startedOpenAnim = false
    startedCloseAnim = true

    startVal = 140
    endVal = 0
    startTime = CurTime()
  end

  local fraction = (CurTime() - startTime) / lifeTime
  fraction = math.Clamp(fraction, 0, 1)

  value = Lerp(fraction, startVal, endVal)

  if value > 0 then
    surface.SetMaterial(blur)
    surface.SetDrawColor(Color(255, 255, 255, 255))
    blur:SetFloat("$blur", 1.25)
    blur:Recompute()

    render.UpdateScreenEffectTexture()

    local x, y = panel:ScreenToLocal(0, 0)

    surface.DrawTexturedRect(x, y, scrw, scrh)

    surface.SetDrawColor(Color(0, 0, 0, value))
    surface.DrawRect(0, 0, w, h)
  end
end
