@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/Roboto-Thin.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 100;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/Roboto-ThinItalic.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/Roboto-LightItalic.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/Roboto-Regular.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/Roboto-RegularItalic.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/Roboto-Medium.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/Roboto-MediumItalic.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/Roboto-Bold.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/Roboto-BoldItalic.ttf);
}

@font-face {
	font-family: 'Roboto';
	font-weight: 900;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/Roboto-Black.ttf);
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/Roboto-Condensed.ttf);
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 400;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/Roboto-CondensedItalic.ttf);
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/Roboto-BoldCondensed.ttf);
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/Roboto-BoldCondensedItalic.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 100;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/CoolveticaUl-Italic.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 200;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/CoolveticaEl-Italic.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 300;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/CoolveticaLt-Italic.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 400;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/CoolveticaBk-Italic.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 500;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/CoolveticaRg-Italic.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 700;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/CoolveticaRg-BoldItalic.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 900;
	font-style: italic;
	src: url(asset://garrysmod/resource/fonts/CoolveticaHv-Italic.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 100;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/CoolveticaUl-Regular.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 200;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/CoolveticaEl-Regular.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 300;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/CoolveticaLt-Regular.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 400;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/CoolveticaBk-Regular.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 500;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/CoolveticaRg-Regular.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 700;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/CoolveticaRg-BoldRegular.ttf);
}

@font-face {
	font-family: 'Coolvetica';
	font-weight: 900;
	font-style: normal;
	src: url(asset://garrysmod/resource/fonts/CoolveticaHv-Regular.ttf);
}