@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-thin-beta.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-thinitalic-beta.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-extralight-beta.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-extralightitalic-beta.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-light-beta.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-lightitalic-beta.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-regular.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-italic.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-medium.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-mediumitalic.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-semibold.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-semibolditalic.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-bold.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-bolditalic.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-extrabold.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-extrabolditalic.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-black.ttf") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("asset://garrysmod/resource/fonts/inter-blackitalic.ttf") format("woff2");
}
