@font-face {
  font-weight: 100;
  font-family: "Roboto";
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Thin.ttf);
}

@font-face {
  font-weight: 100;
  font-family: "Roboto";
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-ThinItalic.ttf);
}

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Light.ttf);
}

@font-face {
  font-weight: 300;
  font-family: "Roboto";
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-RegularItalic.ttf);
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-MediumItalic.ttf);
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Bold.ttf);
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-BoldItalic.ttf);
}

@font-face {
  font-weight: 900;
  font-family: "Roboto";
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Black.ttf);
}

@font-face {
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Condensed.ttf);
}

@font-face {
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-CondensedItalic.ttf);
}

@font-face {
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-BoldCondensed.ttf);
}

@font-face {
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-BoldCondensedItalic.ttf);
}
