$chatbox-messages-background: rgba(0, 0, 0, 0.54);
$chatbox-input-background: rgba(0, 0, 0, 0.54);

$message-background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));

$avatar-hover-color: #f0ffff;