@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Thin.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-ThinItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Light.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-LightItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-RegularItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Medium.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-MediumItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Bold.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-BoldItalic.ttf); }

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Black.ttf); }

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-Condensed.ttf); }

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-CondensedItalic.ttf); }

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/Roboto-BoldCondensed.ttf); }

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/Roboto-BoldCondensedItalic.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 100;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/CoolveticaUl-Italic.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 200;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/CoolveticaEl-Italic.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 300;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/CoolveticaLt-Italic.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 400;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/CoolveticaBk-Italic.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 500;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/CoolveticaRg-Italic.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 700;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/CoolveticaRg-BoldItalic.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 900;
  font-style: italic;
  src: url(asset://garrysmod/resource/fonts/CoolveticaHv-Italic.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 100;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/CoolveticaUl-Regular.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 200;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/CoolveticaEl-Regular.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 300;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/CoolveticaLt-Regular.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 400;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/CoolveticaBk-Regular.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 500;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/CoolveticaRg-Regular.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 700;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/CoolveticaRg-BoldRegular.ttf); }

@font-face {
  font-family: 'Coolvetica';
  font-weight: 900;
  font-style: normal;
  src: url(asset://garrysmod/resource/fonts/CoolveticaHv-Regular.ttf); }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased !important; }

body {
  overflow-x: visible;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical; }

a, a:visited {
  color: #08c;
  text-decoration: none; }

a:hover {
  color: #439fe0;
  cursor: pointer;
  text-decoration: underline; }

#messages {
  list-style-type: none;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-user-select: none;
  margin-bottom: 6px !important;
  padding: 8px 7px;
  word-wrap: break-word;
  overflow-y: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #messages li {
    -webkit-transition: opacity .75s;
    -webkit-user-select: text;
    padding: 4px 0 4px 4px;
    overflow: hidden;
    background: -webkit-linear-gradient(right, transparent, rgba(0, 0, 0, 0.5));
    opacity: 0.9; }
    #messages li .avatar {
      opacity: 1.0 !important; }
    #messages li.newMessage, #messages li.expired {
      opacity: 0; }
      #messages li.newMessage .avatar, #messages li.expired .avatar {
        opacity: 1.0 !important; }
  #messages.open {
    background: rgba(0, 0, 0, 0.54);
    overflow-y: scroll; }
    #messages.open li {
      background: none; }
      #messages.open li .avatar {
        opacity: 1.0 !important; }
      #messages.open li.expired {
        opacity: 0.9; }
        #messages.open li.expired .avatar {
          opacity: 1.0 !important; }

#bottom {
  visibility: hidden;
  display: -webkit-box;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  padding: 8px 7px; }
  #bottom.open {
    background: rgba(0, 0, 0, 0.54);
    visibility: visible; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0; }

::-webkit-scrollbar-thumb {
  display: none; }

::-webkit-scrollbar-corner {
  display: none; }

input {
  border: 0;
  background: 0;
  outline: none;
  opacity: .999999;
  color: #fff;
  width: 100%;
  -webkit-user-select: text;
  font-family: inherit;
  font-size: inherit;
  text-shadow: inherit; }
  input:focus {
    border: 0;
    background: 0;
    outline: none; }

.avatar {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  height: 2em;
  width: 2em;
  background-size: 32em 16em;
  opacity: 1 !important; }
  .avatar:hover {
    box-shadow: 0 0 2px #f0ffff; }

form {
  -webkit-box-flex: 1; }

.bottomButton {
  height: 1em;
  width: 1em;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  transition-timing-function: ease-in-out;
  transition: transform .2s;
  box-sizing: border-box; }
  .bottomButton:hover {
    -webkit-backface-visibility: hidden;
    box-sizing: border-box;
    -webkit-transform: scale(1.1); }
  .bottomButton path {
    fill: #fff; }
